<% include partials/head.ejs %>
<br>
<br>
<!--Location Apartments-->
<div class="ui container">
  <div class="row row-cols-1 row-cols-md-3">
    <% suiteInfo.forEach(function(data){ %>  
    <div class="col mb-4">
      <input type="hidden" name="suiteid" value="<%= data.suite_photo_id %>">
      <div class="card h-100">
        <img src="<%='/'+data.suite_photo%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <a href="/apartment/<%= data.suite_id %>"><b><%=data.suite_name%></b></a></h5>
          <input type="hidden" name="id" value="<%= data.suite_id %>">
          <p class="card-text"><%=data.suite_description%></p>
        </div>
        <div class="card-body">
            
          <p class="card-text">
            <small class="text-muted">Bed-room - <%= data.num_of_rooms%></small>
            <small class="text-muted">price/night - $<%= data.suite_price%></small>          
          </p>
        


          </div>
      </div>
    </div>
    <%});%>
  </div>
  </div>
  <!--Location Apartments-->


<% include partials/footer.ejs %>