<% include partials/head.ejs %>
 

<div class="container">
  <h2><%= suiteName%></h2> 

  <div class="fotorama " data-nav="thumbs" data-transition="crossfade" data-width="100%" data-ratio="3.5/2" data-fit="cover">
  <% images.forEach(function(images){%>
    <img src="<%='/'+images.suite_photo%>"alt="<%=images.suite_photo_id%>">
  <%});%>
</div>

  <table class="ui celled padded table">  
    <thead>
      <tr><th class="single line">Icon</th>
      <th>Feature name</th>
      <th>Comments</th>
    </tr></thead>
    <% data.forEach(function(data) { %>
    <tbody>
      <tr>
        <td>
          <h2 class="ui center aligned header"><%= data.features_logo %></h2>
        </td>
        <td class="single line">
          <%= data.feature_name %>
        </td>
        <td><%= data.feature_details %></td>
      </tr>
    </tbody>
    <%});%>
  </table>
</div>


  
<br> <br>
<% include partials/footer.ejs %>