<% include partials/headAdmin.ejs %>

<div class="container">


       
      <div class="row row-cols-1 row-cols-md-3">
        <% suiteInfo.forEach(function(data){ %>  
        <div class="col mb-4">
          <input type="hidden" name="suiteid" value="<%= data.suite_photo_id %>">
          <div class="card h-100">
            <img src="<%='/'+data.suite_photo%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b><%=data.suite_name%></b></h5>
              <p class="card-text"><%=data.suite_description%></p>
            </div>
            <div class="card-body">
                <a href="/admin/manage/<%= data.suite_photo_id %>" data-id="<%= data.suite_photo_id %>" class="card-link btn btn-danger">Delete</a>
              </div>
          </div>
        </div>
        <%});%>
      </div>

        
    



    
  </div>

  
  



<br> <br>
<% include partials/footer.ejs %>